<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter&family=Raleway&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/static/styles/base.css" />
        <link rel="stylesheet" href="/static/styles/homeinfo.css" />
        <link rel="stylesheet" href="/static/styles/navbar.css" />
        <link rel="stylesheet" href="/static/styles/forms.css" />
        <link rel="stylesheet" href="/static/styles/button.css">
    </head>

    <body>
        <header id="navbar">
            <nav>
                <a id="site-title" href="/">FITNESS</a>
            </nav>
            <nav>
                {% if current_user.is_authenticated %}
                <a class="glow-button white-button" href="/user/{{current_user.username}}">
                    {{current_user.username}}
                </a>
                <a class="glow-button" href="/auth/logout">Logout</a>
                {% else %}
                <a class="glow-button" href="/auth/login"> Login </a>
                <a class="glow-button" href="/user/create"> Sign Up </a>
                {% endif %}
            </nav>
        </header>

        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}

        <main id="main">{% block content %} {% endblock %}</main>
    </body>
</html>
