<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/day.css">
    <link rel="stylesheet" href="/static/styles/base.css">
    <title>{{ day.title() }}</title>
</head>
<body>
    <h1> {{ day.title() }} </h1>
    <form action="/plan/workout/{{ user.username }}">
        <button id="back-button">Back</button>
    </form>
    <div class="workouts">
        {% for workout in workouts %}
            <button>
                <p>{{ workout }}</p>
                <p class="sets">
                {% for i in range(workouts[workout]|length) %}
                    <span>{{ workouts[workout][i] }}x </span>
                {% endfor %}
                </p>
            </button>
        {% endfor %}
        <button class="add-workout">+</button>
    </div>
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <form method="post">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p style="color:black;">What workout would you like to add?</p>
                <input type="text" name="workout" id="workout" required>
                <p style="color:black;">How many in each set?</p>
                <input type="text" name="set1" id="set1" class="set" required>
                <input type="text" name="set2" id="set2" class="set" required>
                <input type="text" name="set3" id="set3" class="set" required>
                <button class="add">Add</button>
            </div>
        </form>
      </div>

      <script src="/static/day.js"></script>
</body>
</html>