{% extends "base.html" %}
{% block dir %}column{% endblock %}
{% block content %}
<h1> {{ day.title() }} </h1>
<form action="/plan/workout/{{ user.username }}">
    <button id="back-button">Back</button>
</form>
<form method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button class="reset" id="reset">Reset</button>
</form>
<div class="workouts">
    {% for workout in workouts %}
        <button class="glow-button">
            <p>{{ workout }}</p>
            <p class="sets">
            {% for i in range(workouts[workout]|length) %}
                <span>{{ workouts[workout][i] }}x </span>
            {% endfor %}
            </p>
        </button>
    {% endfor %}
    <button class="add-workout glow-button white-button">+</button>
</div>

{% endblock %}

{% block modal %}
    <!-- Modal content -->
    <div id="myModal" class="modal">
        <form method="post">   
            <div class="modal-content">
                <span class="close">&times;</span>
                <p style="color:black;">What workout would you like to add?</p>
                <input type="text" name="workout" id="workout" required>
                <p style="color:black;">How many in each set?</p>
                <input type="text" name="set1" id="set1" class="set" required>
                <input type="text" name="set2" id="set2" class="set" required>
                <input type="text" name="set3" id="set3" class="set" required>
                <button class="add">Add</button>
            </div>
        </form>
    </div>  
{% endblock %}