{% extends "base.html" %}

{% block content %}
<div id="home_info">
    <div class="home_info_div" id="home_text_info_div">
        <h4>Tracking Your Progress Just Got Better!</h4>
        <p>With our new app (instert name), you can now plan and track your workouts to ensure that you are meeting your goals and continuing to exceed them.</p>
        <p id="sign_up_prompt">Sign up now to begin!</p>
    </div>

    <div class="home_info_div" id="home_image_info_div">
        <img class="image" src="/static/images/dreamybull.jpg" alt="">
    </div>
</div>

<script src="/mh2024/static/home.js"></script>
{% endblock %}