{% extends "base.html" %}
{% block content %}
    <ul>
        {% if current_user.is_authenticated %}
            <p>Hi {{ current_user.username }}!</p>
            <li><a href="/auth/logout">Logout</a></li>
        {% else %}
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/user/create">Register</a></li>
        {% endif %}
    </ul>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form action="/user/create" method="post">
        <div id="input_div">
            <label class="label" for="username">Username:</label><br>
            <input class="input" type="text" name="username" id="username"><br>

            <label class="label" for="password">Password:</label><br>
            <input class="input" type="password" name="password" id="password"><br>

            <input class="buttons input" type="submit" value="Register">
        </div>
    </form>

    <img class="background_image" src="/static/images/build_guy.png" alt="Buff black dude">
{% endblock %}
