{% extends "base.html" %}
{% block content %}
    <ul>
        {% if current_user.is_authenticated %}
            <p>Hi {{ current_user.username }}!</p>
            <li><a href="/auth/logout">Logout</a></li>
        {% else %}
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/user/create">Register</a></li>
        {% endif %}
    </ul>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h1>{{user.username}}</h1>
{% endblock %}
