<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        {% if current_user.is_authenticated %}
            <p>Hi {{ current_user.username }}!</p>
            <li><a href="/auth/logout">Logout</a></li>
        {% else %}
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/user/create">Register</a></li>
        {% endif %}
    </ul>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form action="/user/create" method="post">
        <label for="username">Username:</label><br>
        <input type="text" name="username" id="username"><br>
        
        <label for="email">Email:</label><br>
        <input type="text" name="email" id="email"><br>

        <label for="password">Password:</label><br>
        <input type="password" name="password" id="password"><br>

        <input type="submit" value="Register">
    </form>
</body>
</html>