{% extends "base.html" %}
{% block content %}
<form id="input-form" action="/user/create" method="post">
  <label class="label" for="username">Username:</label>
  <input class="input" type="text" name="username" id="username" />

  <label class="label" for="password">Password:</label>
  <input class="input" type="password" name="password" id="password" />

  <input class="glow-button input" type="submit" value="Register" />
</form>

<img
  class="background_image"
  src="/static/images/build_guy.png"
  alt="Buff black dude"
/>
{% endblock %}
