<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>workout plans</title>
    <link rel="stylesheet" href="/mh2024/static/styles/style.css">
    <link rel="stylesheet" href="/mh2024/static/styles/workoutplans.css">
</head>
<body>
    <h1 class="workout-title">Workout</h1>
    <!-- Make the action the link of the search when you do that -->
    <form class="inline" action="">
        <button class="search">&#128270;</button>
    </form>
    <div class="routines">
        <button class="monday">M</button>
        <button class="tuesday">T</button>
        <button class="wednesday">W</button>
        <button class="thursday">T</button>
        <button class="friday">F</button>
        <button class="saturday">S</button>
        <button class="sunday">S</button>
    </div>
</body>
</html>