<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>workout plans</title>
    <link rel="stylesheet" href="/mh2024/static/styles/styles.css">
    <link rel="stylesheet" href="/mh2024/static/styles/workoutplans.css">
</head>
<body>
    <h1 class="workout-title">Workout</h1>
    <!-- Make the action the link of the search when you do that -->
    <form class="inline" action="">
        <button class="search">&#128270;</button>
    </form>
    

</body>
</html>