.glow-button {
    padding: 0.5rem 2rem;
    box-sizing: border-box;
    border-radius: 1rem;

    color: #eee;
    background-color: #222;
    box-shadow: 0 0.2rem 0.4rem rgba(45, 35, 66, 0.4);

    font-size: 1.2rem;
    font-family: "Raleway", sans-serif;

    transition: box-shadow 0.15s, transform 0.15s;

    display: inline-block;

    --light-h: #eee;
    --light-p: #eee;
    --glow-h: #d94;
    --glow-p: #f54;
}

.glow-button:hover {
    box-shadow: 0 4px 8px var(--glow-h), 0 -3px 0 var(--light-h) inset;
    transform: translateY(-0.1rem);
}

.glow-button:active {
    box-shadow: 0 4px 8px var(--glow-p), 0 -3px 0 var(--light-p) inset;
    transform: translateY(0.1px);
}

.white-button {
    background-color: #eee;
    color: #111;

    --light-h: #d94;
    --light-p: #f54;
    --glow-h: #d94;
    --glow-p: #f54;
}

button {
    border: none;
    outline: none;
}