@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

:root
{
    --homebar_height: 70px;
}

#homebar
{
    width: 100%;
    height: var(--homebar_height);
    background-color: rgb(255,166,77);
    padding: 0;
    border-radius: 10px;
}

#sidebar_div
{
    width: 10%;
    height: 50px;
}

#sidebar
{
    display: flex;
    margin: auto;
    transform: translateY(calc((var(--homebar_height) / 2) - 10px));
}

#title_div
{
    font-size: 20px;
    width: 50%;
    height: 50px;
}

#site_title
{
    margin-top: 7px;
    margin-bottom: 1px;
    transform: translateY(calc((var(--homebar_height) / 2) - 35px));
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    font-family: "Freeman", Arial;
}

#site_slogan
{
    margin: 0;
    transform: translateY(calc((var(--homebar_height) / 2) - 35px));
    font-family: "Freeman", Arial;
}

#login_buttons_div
{
    width: 40%;
    height: 50px;
}

.login_buttons
{
    float: right;
}

.buttons
{
    width: 30%;
    height: 50px;
    margin: 0;
    background-color: rgb(255,212,128);
    border-color: rgb(255,179,25);
    border-radius: 25px;
    word-spacing: 3px;
    letter-spacing: 1px;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    transform: translateY(calc((var(--homebar_height) / 2) - 25px));
    font-family: "Freeman", Arial;
    align-items: center;
    appearance: none;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 20px;
}

.homebar_div
{
    display: block;
    margin: auto;
    float: left;
}

.login_buttons:focus
{
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.login_buttons:hover
{
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-0.1px);
}

.login_buttons:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(0.1px);
}