@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

:root
{
    --homebar_height: 70px;
}

#homebar
{
    width: 100%;
    height: var(--homebar_height);
    background-color: rgb(255,204,102);
    padding: 0;
}

#sidebar_div
{
    width: 10%;
    height: 50px;
}

#sidebar
{
    display: flex;
    margin: auto;
    transform: translateY(calc((var(--homebar_height) / 2) - 10px));
}

#title_div
{
    font-size: 20px;
    width: 50%;
    height: 50px;
}

#site_title
{
    margin-top: 7px;
    margin-bottom: 1px;
    transform: translateY(calc((var(--homebar_height) / 2) - 35px));
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    font-family: "Freeman", Arial;
}

#site_slogan
{
    margin: 0;
    transform: translateY(calc((var(--homebar_height) / 2) - 35px));
    font-family: "Freeman", Arial;
}

#login_buttons_div
{
    width: 40%;
    height: 50px;
}

.login_buttons
{
    width: 30%;
    height: 50px;
    float: right;
    margin: 0;
    background-color: rgb(255,212,128);
    border-color: rgb(255,179,25);
    border-radius: 25px;
    word-spacing: 3px;
    letter-spacing: 1px;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    transform: translateY(calc((var(--homebar_height) / 2) - 25px));
    font-family: "Freeman", Arial;
}

.homebar_div
{
    display: block;
    margin: auto;
    float: left;
}

#sidebar button:hover
{

}

#sidebar button:active
{
    
}