#navbar {
    width: 100%;
    height: 4.5rem;
    box-sizing: border-box;
    background-color: #555566;
    box-shadow: 0 2px 8px #d94, 0 -2px 0 #eee inset;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;

    margin-bottom: 2rem;
}

.flashes {
    width: 100%;
}

.flash-bar {
    width: 100%;
    height: 2rem;
    box-sizing: border-box;
    background-color: #555566;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 1rem;

    margin-top: -1rem;
    margin-bottom: 1rem;
}

#site-title {
    font-size: 2.5rem;
    font-family: "Raleway", sans-serif;

    transition: text-shadow 0.15s;
}

#site-title:hover {
    text-shadow: 0 0 4px #eee;
}

#navbar .glow-button {
    margin-left: 1rem;
}
