







/*@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Inter:wght@100..900&display=swap');

body
{
    margin: 0px;
    background-color: rgb(255,238,204);
}

#siteTitle
{
    font-family: "Freeman", Arial;
    font-size: 30px;
    margin-left: 2%;
    margin-right: 10px;
    margin-bottom: 1px;
    text-align: center;
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}

#siteSlogan
{
    font-family: "Freeman", Arial;
    font-size: 15px;
    margin-left: 2%;
    margin-top: 1px;
    width: 50%;
}

.topDiv
{
    width: 50%;

}

#buttonDiv
{
    float: right;
}

.inline
{
    display: inline-block;
}

.loginButton
{
    width: 15%;
    height: 50px;
    float: right;
    margin: 0;
    background-color: rgb(255,212,128);
    border-color: rgb(255,179,25);
    border-radius: 25px;
    font-family: "Freeman", Arial;
    font-size: 20px;
    word-spacing: 3px;
    letter-spacing: 1px;
}*/