@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Inter:wght@100..900&display=swap');

body
{
    margin: 0px;
    background-color: rgb(255,238,204);
}

#siteTitle
{
    font-family: "Freeman", Arial;
    font-size: 30px;
    margin-left: 2%;
    margin-right: 10px;
    text-align: center;
}

#siteSlogan
{
    font-family: "Freeman", Arial;
    font-size: 15px;
    margin-left: 10px
}

#introDivID
{
    background-color: rgb(255,204,102);
}

.inline
{
    display: inline-block;
}

.loginButton
{
    float: right;
    width: 15%;
    height: 35px;
    margin: 10px;
    margin-top: 45px;
    margin-right: 2%;
    border-radius: 16px;
    background-color: rgb(255,212,128);
    border-color: rgb(255,179,25);
}