@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

.label
{
    color: black;
    display: block;
    margin: auto;
    text-align: center;
    font-family: "Freeman", Arial;
    font-size: 20px;
}

.input
{
    display: block;
    margin: auto;
    text-align: center;
    border-radius: 25px;
}

#input_div
{
    width: 40%;
    display: block;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgb(255,166,77);
    border-radius: 25px;
}

.background_image
{
    width: 35%;
    height: auto;
}
 