@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

:root{
    
}

.workout-title{
    font-family: "Freeman", Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
}

.inline{
    display:inline-block;
}

button:hover{
    cursor:pointer;
}

.create{
    position: absolute;
    left: 0;
    transform: translateY(-75%);
    margin: 0 20px;
}   


.search{
    position: absolute;
    right: 0;
    transform: translateY(-75%);
    margin:0 20px;
}

.routines{
    width: 100%;
    margin: 10px;
    height: 125x;
    background-color: rgb(255, 162, 0);
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.routines button{
    background-color: rgb(19, 8, 228);
    width:60%;
    height:100px;
    margin: 3.5%;
    border-radius: 50px;
    color:orange;
    font-size: 250%;
    font-family: "Freeman", Arial, Helvetica, sans-serif;
}

.routines button:hover{
    background-color: rgb(0, 89, 255);
    transform: scale(1.05) rotate(-1deg);
}

.routines button:active{
    color:rgb(127, 95, 37);
    background-color: rgb(17, 17, 217);
}