@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

:root{
    
}

.workout-title{
    font-family: "Freeman", Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
}

.inline{
    display:inline-block;
}

button:hover{
    cursor:pointer;
    transform: scale(1.05) rotate(-1deg);
}

.search{
    border:none;
    background:none;
}

.routines{
    margin: 10px;
    height: 500px;
    background-color: rgb(255, 162, 0);
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.routines button{
    background-color: rgb(19, 8, 228);
    height:100px;
    margin: 3.5%;
    border-radius: 50px;
    color:orange;
    font-size: 250%;
    font-family: "Freeman", Arial, Helvetica, sans-serif;
}

.routines button:hover{
    background-color: rgb(0, 89, 255);
}

.routines button:active{
    color:rgb(127, 95, 37);
    background-color: rgb(17, 17, 217);
}